@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap');

::-webkit-scrollbar{
    display: none;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
}

.logo {
    flex: 1;
}

.login {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.login a {
    margin-right: 20px;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #fff;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    float: left;

}

.login-btn {
    float: right;
    margin-right: 20px;
    line-height: 60px;
}

.sign-in {
    float: right;
    margin-right: 10px;
    line-height: 60px;
}

.loggo {
    height: 200px;
    margin-bottom: 4px;
}

.search{
    align-items: center;
    width: 60px;
    height: 60px;
    background: #FFF;
    border-radius: 60px;
    transition: 0.5s;
    box-shadow: 0  0 5px #2573ef;
    overflow: hidden;
}

.search.active{
    width: 360px;
}

.search .icon{
    position: absolute;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;;
    cursor: pointer;
}

.search .icon::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid #287dfc;
    border-radius: 50%;
    transform: translate(-4px,-4px) rotate(315deg);
}

.search .icon::after{
    content: '';
    position: absolute;
    width: 3px;
    height: 12px;
    background:  #287dfc;
    border-radius: 50%;
    transform: translate(6px,6px) rotate(315deg);
}

.search .input{
    position: relative;
    width: 300px;
    height: 60px;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .input input{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px 0;
}

.clear{
    position: absolute;
    top: 44%;
    transform: translate(-40%);
    width: 15px;
    height: 15px;
    right: 570px;
    background: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.clear::before{
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #fff;
    transform: rotate(45deg);
}

.clear::after{
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #fff;
    transform: rotate(315deg);
}

.recommendations{
    background: #fff;
    width: 1450px;
    height: 540px;
    border-radius: 60px;
    margin-top: -480px;
    margin-left: 10px;
    box-shadow: -1px 4px 7px 4px rgba(0, 0, 0, 0.1);
    overflow: scroll;
    display: grid;
}
.heading{
    font-family: PT Sans;
    margin-top: 20px;
    margin-left: 600px;
}

.horzline{
    width: 350px;
    height: 3.5px;
    background: grey;
    margin-left: 550px;
}

body
{
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: consolas;
    min-height: 100vh;
}
.container1
{
	position: relative;
	width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.container1 .box
{
	position: relative;
	width: 280px;
	height: 400px;
	margin: 20px 0;
	box-sizing: border-box;
	
}
.container1 .box .imgBx
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	clip-path: circle(400px at center 100px);
	transition: 0.5s;
	transition-delay: 0.5s;
    margin-left: 90px;
}
.container1 .box:hover .imgBx
{
	clip-path: circle(80px at center 100px);
	transition-delay: 0s;
}
.container1 .box .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.container1 .box .content1
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 55%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
    margin-left: 90px;
}
.container1 .box .content1 h2
{
	margin: 0;
	padding: 0;
}
.container1 .box .content1 a
{
	text-decoration: none;
	background: #000;
	color: #fff;
	padding: 5px;
	display: inline-block;
}
.container1 .box .content1 h2,
.container1 .box .content1 p,
.container1 .box .content1 a
{
	opacity: 0;
	transition: 0.5s;
	transform: translateY(20px);
}
.container1 .box:hover .content1 h2
{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.5s
}
.container1 .box:hover .content1 p
{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.7s
}
.container1 .box:hover .content1 a
{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.9s;
    margin-top: 10px;
}

.featured{
    background: #fff;
    width: 1450px;
    height: 540px;
    margin-top: 695px;
    margin-left: -1451px;
    margin-bottom: 40px;
    border-radius: 60px;
    box-shadow: -1px 4px 7px 4px rgba(0, 0, 0, 0.1);
}

.heading1{
    font-family: PT Sans;
    margin-top: 20px;
    margin-left: 700px;
}

.horzline1{
    width: 350px;
    height: 3.5px;
    background: grey;
    margin-left: 580px;
    margin-top: 10px;
}


.container
{
    max-width: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: 0.5s;
    margin-left: 210px;
    margin-top: 70px;
}
.container:hover .card
{
    filter: blur(5px);
    transform: scale(.7);
}
.container .card
{
    position: relative;
    width: 250px;
    height: 300px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

}


.container .card:hover
{
    filter: blur(0px);
    transform: scale(1);
}
.container .card:before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
    transition: 0.5s;
}
.container .card:hover:before
{
    background: #000;
    transform: scaleY(1.15);
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
}
.container .card:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transition: 0.5s;
    background: rgba(255,255,255,.1);
    z-index: 1;
}
.container .card:hover:after
{
    transform: scaleY(1.15);
}
.container .card:hover
{
    z-index: 1;
}
.container .card .content
{
    text-align: center;
    z-index: 2;
    padding: 0 20px;
    transition: 0.5s;
}
.container .card:hover .content
{
    color: #fff;
}
.container .card .content h2
{
    font-size: 3em;
}
.container .card .content p
{
    font-size: 0.9em;
}
.container .card .content a
{
    display: inline-block;
    margin-top: 15px;
    padding: 5px 10px;
    background: #262626;
    color: #fff;
    text-decoration: none;
}
.container .card:hover .content a
{
    background: #2196F3;
}
